<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Avg rating:</strong>
  <span id="aggregate_rating">
    <% if @product.reviews.any? %>
      <%= @product.aggregate_rating %>
    <% else %>
      Not have any reviews
    <% end %>
  </span>
</p>

<% if user_signed_in? %>
  <hr />
  <%= render 'reviews/form', review: @review %>
<% end %>

<div id='reviews'>
  <% @product.reviews.each do |review| %>
    <div id="review_item_<%= review.id %>">
      <p><%= review.user.email %></p>
      <p>Content: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
    <hr />
  <% end %>
</div>

<%= link_to 'Home', root_path %> |
<%= link_to 'Back', products_path %>
