<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%= render 'reviews/form', review: @review %>

<%= link_to 'Home', root_path %> |
<%= link_to 'Back', products_path %>
