<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Avg rating:</strong>
  <% if @product.reviews.any? %>
    <%= @product.aggregate_rating %>
  <% else %>
    Not have any reviews
  <% end %>
</p>

<% if user_signed_in? %>
  <hr />
  <%= render 'reviews/form', review: @review %>
<% end %>

<% @product.reviews.each do |review| %>
  <p>Content: <%= review.content %> <br/> Rating: <%= review.rating %></p>

  <% if user_signed_in? %>
    <%= render 'comments/form', review: review, comment: @comment %>
  <% end %>
<% end %>

<%= link_to 'Home', root_path %> |
<%= link_to 'Back', products_path %>
