<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Avg rating:</strong>
  <span id="aggregate_rating">
    <% if @product.reviews.any? %>
      <%= @product.aggregate_rating %>
    <% else %>
      Not have any reviews
    <% end %>
  </span>
</p>

<hr />
<% if user_signed_in? %>
  <%= render 'reviews/form', review: @review %>
<% end %>
<hr />

<div id='reviews'>
  <% @product.reviews.each do |review| %>
    <div id="review_item_<%= review.id %>">
      <p><%= review.user.email %></p>
      <p>Content: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
      <ul id='comments_of_review_<%= review.id %>'>
        <% review.comments.each do |comment| %>
          <li>
            <p><%= comment.user.email %>: <%= comment.content %></p>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= render 'comments/form', review: review, comment: @comment %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Home', root_path %> |
<%= link_to 'Back', products_path %>
