<h1>Admin</h1>

<p><%= link_to 'Categories', admin_categories_path %></p>
<p><%= link_to 'Products', admin_products_path %></p>
<p><%= link_to 'Users', admin_users_path %></p>
<p><%= link_to 'Reviews', admin_reviews_path %></p>
<p><%= link_to 'Comments', admin_comments_path %></p>
