<%= form_with(model: review, url: product_reviews_path(product_id: @product.id), id: "new_review") do |form| %>
  <div id="error_explanation">
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
